aiohttp
aiosignal
async-timeout
attrs
certifi
charset-normalizer
frozenlist
idna
multidict
numpy
pandas
python-dateutil
python-telegram-bot==20
pytz
requests
scikit-learn
scipy
six
TA-Lib
tensorflow
keras
threadpoolctl
typing_extensions
tzdata
urllib3
yarl
xgboost
joblib
h5py
wrapt
flatbuffers
gast
google-pasta
grpcio
libclang
ml-dtypes
opt-einsum
packaging
protobuf
tensorboard
tensorboard-data-server
tensorflow-estimator
tensorflow-io-gcs-filesystem
termcolor
werkzeug
